<app-sidebar
  [isExpanded]="isExpanded"
  (toggleSidebar)="isExpanded = !isExpanded"
></app-sidebar>
<main class="main" [ngClass]="{ expanded: isExpanded }">
  <div class="container">
    <h2>Messages</h2>
    <ul>
      <li
        *ngFor="let message of messages"
        class="{{ message.resolved ? 'true' : 'false' }}"
      >
        <a routerLink="/bug/{{ message._id }}">
          <p>Bug ID: {{ message._id }}</p>
          <p class="message">Message: {{ message.message }}</p>
          <p>Issue Resolved: {{ message.resolved }}</p>
        </a>
      </li>
    </ul>
  </div>
</main>
