.main {
  margin: auto 20px auto 80px;
  height: 100%;

  transition: 0.3s;

  &.expanded {
    margin-left: 170px;
  }

  .container,
  ul,
  li {
    padding: 10px;
  }

  .container {
    height: 95.5vh;
    min-height: 519px;
    margin: 20px auto;
    border: 5px solid #660084;
    overflow: scroll;

    h2 {
      margin-bottom: 10px;
      text-align: center;
    }

    ul {
      display: flex;
      height: 95%;
      overflow: scroll;
    }

    @media (max-height: 49.813em) {
      ul {
        height: 93%;
        min-height: 453px;
      }
    }
  }

  li {
    display: block;
    height: 100%;
    width: 300px;
    border: 1px solid #660084;
    margin-right: 10px;
    overflow: scroll;

    a {
      width: 100%;
      color: black;
    }
  }

  li:nth-last-child(-n + 1) {
    margin-right: 0;
  }

  p:nth-child(n + 2) {
    margin: 10px 0;
  }

  .false {
    border: 5px solid #bd0000;
  }

  .true {
    border: 5px solid #660084;
  }
}
