<app-sidebar
  [isExpanded]="isExpanded"
  (toggleSidebar)="isExpanded = !isExpanded"
></app-sidebar>
<main class="main" [ngClass]="{ expanded: isExpanded }">
  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <fieldset>
      <h2>Create New Account</h2>
      <legend class="hidden">Create New Account</legend>
      <label for="firstName"
        >Firstname: <input placeholder="firstname" formControlName="firstName" type="text" id="firstName"
      /></label>
      <div class="error-firstName" *ngIf="fc.firstName.errors && isSubmitted">
        <div *ngIf="fc.firstName.errors.required">
          Please enter your firstname.
        </div>
      </div>
      <label for="lastName"
        >Lastname: <input placeholder="lastname" formControlName="lastName" type="text" id="lastName"
      /></label>
      <div class="error-lastName" *ngIf="fc.lastName.errors && isSubmitted">
        <div *ngIf="fc.lastName.errors.required">
          Please enter your lastname.
        </div>
      </div>
      <label for="email"
        >Email: <input placeholder="email@email.com" formControlName="email" type="email" id="email"
      /></label>
      <div class="error-email" *ngIf="fc.email.errors && isSubmitted">
        <div *ngIf="fc.email.errors.required">Please enter your email.</div>
        <div *ngIf="fc.email.errors.email">Email is not valid.</div>
      </div>
      <label for="password"
        >Password:
        <input
          formControlName="password"
          placeholder="password"
          type="password"
          id="password"
      /></label>
      <div class="error-password" *ngIf="fc.password.errors && isSubmitted">
        <div *ngIf="fc.password.errors.required">
          Please enter your password.
        </div>
      </div>
      <button type="submit">Create Account</button>
    </fieldset>
  </form>
</main>
