.main {
  margin: auto 20px auto 80px;
  height: 100%;

  transition: 0.3s;

  &.expanded {
    margin-left: 170px;
  }

  fieldset,
  label {
    padding: 10px;
  }

  fieldset {
    height: 95.5vh;
    text-align: center;
    margin: 20px auto;
    border: 5px solid #660084;

    label,
    button {
      display: block;
    }

    .error-password {
      margin-bottom: 10px;
    }

    button {
      padding: 5px 10px;

      &.login {
        margin: auto;
      }

      &.create {
        position: absolute;
        bottom: 35px;
      }
    }
  }
}
