<header class="sidebar" [ngClass]="{ expanded: isExpanded }">
  <div class="header">
    <h1 class="hidden">Trak Resolve</h1>
    <img src="../../../assets/images/trakResolveSmall.svg" alt="Trak Resolve logo" />
  </div>
  <ul class="content">
    <li class="link">
      <div
        class="content"
        [routerLink]="['/profile']"
        [routerLinkActive]="'active'"
      >
        <div class="icon">
          <img
            src="../../../assets/images/profile.svg"
            alt="Profile icon"
          />
        </div>
        <div class="title">Profile</div>
      </div>
    </li>
    <li class="link">
      <div
        *ngIf="router.url == '/'"
        class="content"
        [routerLink]="['/']"
        [routerLinkActive]="'active'"
      >
        <div class="icon">
          <img
            src="../../../assets/images/home.svg"
            alt="Home icon"
          />
        </div>
        <div class="title">Home</div>
      </div>
      <div
        *ngIf="router.url != '/'"
        class="content"
        [routerLink]="['/home']"
        [routerLinkActive]="'active'"
      >
        <div class="icon">
          <img
            src="../../../assets/images/home.svg"
            alt="Home icon"
          />
        </div>
        <div class="title">Home</div>
      </div>
    </li>
    <li class="link">
      <div
        class="content"
        [routerLink]="['/search']"
        [routerLinkActive]="'active'"
      >
        <div class="icon">
          <img
            src="../../../assets/images/search.svg"
            alt="Search icon"
          />
        </div>
        <div class="title">Search</div>
      </div>
    </li>
    <li class="link">
      <div
        class="content"
        [routerLink]="['/reportBug']"
        [routerLinkActive]="'active'"
      >
        <div class="icon">
          <img
            src="../../../assets/images/bug.svg"
            alt="Bug icon"
          />
        </div>
        <div class="title">Report Bug</div>
      </div>
    </li>
    <li class="link">
      <div
        class="content"
        [routerLink]="['/bugResolve']"
        [routerLinkActive]="'active'"
      >
        <div class="icon">
          <img
            src="../../../assets/images/bugResolve.svg"
            alt="Resolve bugs icon"
          />
        </div>
        <div class="title">Resolve Bugs</div>
      </div>
    </li>
    <li class="link">
      <div
        class="content"
        [routerLink]="['/messages']"
        [routerLinkActive]="'active'"
      >
        <div class="icon">
          <img
            src="../../../assets/images/messages.svg"
            alt="Messages icon"
          />
        </div>
        <div class="title">Messages</div>
      </div>
    </li>
    <!-- <li class="link">
      <div
        class="content"
        [routerLink]="['/settings']"
        [routerLinkActive]="'active'"
      >
        <div class="icon">
          <img
            src="../../../assets/images/settings.svg"
            alt="Settings icon"
          />
        </div>
        <div class="title">Settings</div>
      </div>
    </li>
    <li class="link">
      <div
        class="content"
        [routerLink]="['/statistics']"
        [routerLinkActive]="'active'"
      >
        <div class="icon">
          <img
            src="../../../assets/images/statistics.svg"
            alt="Statistics icon"
          />
        </div>
        <div class="title">Statistics</div>
      </div>
    </li> -->
    <li class="toggle" (click)="handleSidebarToggle()">
      <span class="chevron"></span>
    </li>
  </ul>
</header>
