.chevron::before {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: "";
  display: inline-block;
  height: 0.35em;
  width: 0.35em;
}
.sidebar {
  position: fixed;

  height: 100vh;
  transition: 0.3s;

  width: 62px;
  &.expanded {
    width: 150px;

    .chevron {
      &::before {
        transform: rotate(-135deg);
      }
    }
  }

  background: #0900b3;
  color: #fff;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .chevron {
    background: #ababab;
    color: #0900b3;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    display: block;
    text-align: center;

    &::before {
      transition: 0.3s;
      transform: rotate(45deg);
    }

    &:hover {
      color: #fff;
    }
  }

  ul {
    margin-block: 0;
    padding-inline: 0;
    .link {
      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

        cursor: pointer;

        transition: 0.3s;

        &:hover {
          background: #ababab;
          .title {
            color: #fff;
          }
          svg {
            fill: #fff;
          }
        }

        &.active {
          background: #ababab;
          .title {
            color: #fff;
          }
        }
        .title {
          flex: 1;
          padding-left: 10px;
          color: #fff;
          transition: 0.3s;
          overflow: hidden;
        }
      }
    }
  }
}
