<app-sidebar
  [isExpanded]="isExpanded"
  (toggleSidebar)="isExpanded = !isExpanded"
></app-sidebar>
<main class="main" [ngClass]="{ expanded: isExpanded }">
  <form>
    <fieldset>
      <h2>Welcome to TrakResolve {{user.firstName}} {{user.lastName}}!</h2>
      <legend class="hidden">Welcome</legend>
      <div>
        <img src="../../../assets/images/trakResolve.svg" alt="TrakResolve Logo">
        <p>TrakResolve is an application that will help report all the problems you run into when surfing the web and web applications.</p>
        <button>Create ticket</button>
        <button>Ticket lookup</button>
      </div>
    </fieldset>
  </form>
</main>
