<app-sidebar
  [isExpanded]="isExpanded"
  (toggleSidebar)="isExpanded = !isExpanded"
></app-sidebar>
<main class="main" [ngClass]="{ expanded: isExpanded }">
  <form>
    <fieldset>
      <h2 *ngIf="user.firstName != ''">Welcome to TrakResolve {{ user.firstName }} {{ user.lastName }}!</h2>
      <h2 *ngIf="user.firstName == ''">Welcome to TrakResolve!</h2>
      <legend class="hidden">Welcome</legend>
      <div>
        <img
          src="../../../assets/images/trakResolve.svg"
          alt="TrakResolve Logo"
        />
        <p>
          TrakResolve is an application that will help report all the problems
          you run into when surfing the web and web applications.
        </p>
        <div class="buttons">
          <button
            class="profile"
            [routerLink]="['/profile']"
            [routerLinkActive]="'active'"
            *ngIf="user.firstName"
          >
            View profile
          </button>
          <button
            class="login"
            [routerLink]="['/login']"
            [routerLinkActive]="'active'"
            *ngIf="!user.firstName"
          >
            Login
          </button>
          <button
            class="create"
            [routerLink]="['/reportBug']"
            [routerLinkActive]="'active'"
          >
            Create ticket
          </button>
          <button
            class="lookup"
            [routerLink]="['/search']"
            [routerLinkActive]="'active'"
          >
            Ticket lookup
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</main>
