<app-sidebar
  [isExpanded]="isExpanded"
  (toggleSidebar)="isExpanded = !isExpanded"
></app-sidebar>
<main class="main" [ngClass]="{ expanded: isExpanded }">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <fieldset>
      <h2>Home</h2>
      <legend class="hidden">Report Bug</legend>
      <p>Login below.</p>
      <label for="username"
        >Username: <input formControlName="username" type="text" id="username"
      /></label>
      <label for="password"
        >Password: <input formControlName="password" placeholder="password" type="password" id="password"
      /></label>
      <!-- <input #p type="text" [value]="password"/> -->
      <button type="submit">Login</button>
      <button>Create an account</button>
    </fieldset>
  </form>
</main>
