* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 400px;
  height: 100vh;
  margin: 0 auto;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center;
}

h1,
a {
  margin: 10px;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}
