<app-sidebar
  [isExpanded]="isExpanded"
  (toggleSidebar)="isExpanded = !isExpanded"
></app-sidebar>
<main class="main" [ngClass]="{ expanded: isExpanded }">
  <form [formGroup]="reportBugForm" (ngSubmit)="submit()">
    <fieldset>
      <h2 *ngIf="bug">Bug {{bug._id}}</h2>
      <legend class="hidden">Report Bug</legend>
      <div>
        <button [routerLink]="['/search']" [routerLinkActive]="'active'">
          Ticket lookup
        </button>
      </div>
      <label for="summary"
        >Summary<input formControlName="summary" type="text" id="summary"
      /></label>
      <div class="error-summary" *ngIf="fc.summary.errors && isSubmitted">
        <div *ngIf="fc.summary.errors.required">Please enter a summary.</div>
        <div *ngIf="fc.summary.errors.minlength">Please enter a summary at least 10 characters long.</div>
      </div>
      <label for="link"
        >URL link<input formControlName="link" type="text" id="link"
      /></label>
      <div class="error-link" *ngIf="fc.link.errors && isSubmitted">
        <div *ngIf="fc.link.errors.required">Please enter a link.</div>
      </div>
      <label for="description"
        >Description
        <textarea
          #d
          placeholder="Description of bug"
          id="description"
          cols="30"
          rows="10"
          formControlName="description"
        ></textarea>
      </label>
      <div class="error-description" *ngIf="fc.description.errors && isSubmitted">
        <div *ngIf="fc.description.errors.required">Please enter a description.</div>
        <div *ngIf="fc.description.errors.minlength">Please enter a description at least 10 characters long.</div>
      </div>
      <div>
        <button type="submit" (click)="new()">Create & new ticket</button>
        <button type="submit">Create ticket</button>
      </div>
    </fieldset>
  </form>
</main>
