<app-sidebar
  [isExpanded]="isExpanded"
  (toggleSidebar)="isExpanded = !isExpanded"
></app-sidebar>
<main class="main" [ngClass]="{ expanded: isExpanded }">
  <div class="container">
    <h2 *ngIf="bug">Bug ID: {{ bug._id }}</h2>
    <div>
      <button [routerLink]="['/search']" [routerLinkActive]="'active'">
        Ticket lookup
      </button>
      <label for="resolved"
        >Resolved
        <select name="resolved" id="resolved" value="{{ bug.resolved }}">
          <option value="true">true</option>
          <option value="false">false</option>
        </select>
      </label>
      <label for="displayTags"
        >Tags
        <select name="displayTags" id="displayTags" value="Tags">
          <option *ngFor="let tag of bug.tags">{{ tag }}</option>
        </select>
      </label>
      <form [formGroup]="bugTagForm" (ngSubmit)="addTag()">
        <fieldset class="flex">
          <legend class="hidden">Add bug tag</legend>
          <label for="tag" class="tagLabel"
            >New Tag: <input formControlName="tag" type="text" id="tag"
          /></label>
          <button type="submit">Add Tag</button>
          <div
            class="error-tag"
            *ngIf="tagfc.tag.errors && isTagSubmitted"
            class="pad"
          >
            <div *ngIf="tagfc.tag.errors.required">Please enter a tag.</div>
            <div *ngIf="tagfc.tag.errors.minlength">
              Please enter a tag at least 4 characters long.
            </div>
          </div>
        </fieldset>
      </form>
      <form [formGroup]="assignForm" (ngSubmit)="assign()">
        <fieldset class="flex">
          <legend class="hidden">Assign ticket</legend>
          <label for="assignTo"
            >Assign To:
            <select name="assignTo" formControlName="assignTo" id="assignTo">
              <option *ngFor="let name of names" [ngValue]='name.firstName + "_" + name.lastName'>
                {{ name.firstName }}_{{ name.lastName }}
              </option>
            </select></label
          >
          <button type="submit">Assign Ticket</button>
          <div
            class="error-assign"
            *ngIf="assignfc.assignTo.errors && isAssignSubmitted"
            class="pad"
          >
            <div *ngIf="assignfc.assignTo.errors.required">
              Please enter a devTeam member.
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <form [formGroup]="reportBugForm" (ngSubmit)="submit()">
      <fieldset>
        <legend class="hidden">Bug {{ bug._id }}</legend>
        <p>Reported By: {{ bug.reportedBy }}</p>
        <p>Assigned To: {{ bug.assignedTo }}</p>
        <label for="summary"
          >Summary<input formControlName="summary" type="text" id="summary"
        /></label>
        <div
          class="error-summary"
          *ngIf="fc.summary.errors && isSubmitted"
          class="pad"
        >
          <div *ngIf="fc.summary.errors.required">Please enter a summary.</div>
          <div *ngIf="fc.summary.errors.minlength">
            Please enter a summary at least 10 characters long.
          </div>
        </div>
        <label for="link"
          >URL link<input formControlName="link" type="text" id="link"
        /></label>
        <div
          class="error-link"
          *ngIf="fc.link.errors && isSubmitted"
          class="pad"
        >
          <div *ngIf="fc.link.errors.required">Please enter a link.</div>
        </div>
        <label for="description"
          >Description
          <textarea
            placeholder="Description of bug"
            id="description"
            cols="30"
            rows="10"
            formControlName="description"
          ></textarea>
        </label>
        <div
          class="error-description"
          *ngIf="fc.description.errors && isSubmitted"
          class="pad"
        >
          <div *ngIf="fc.description.errors.required">
            Please enter a description.
          </div>
          <div *ngIf="fc.description.errors.minlength">
            Please enter a description at least 10 characters long.
          </div>
        </div>
        <label for="reproductionFindings"
          >Reproduction Findings
          <textarea
            placeholder="Description of bug reproduction findings"
            id="reproductionFindings"
            cols="30"
            rows="10"
            formControlName="reproductionFindings"
          ></textarea>
        </label>
        <label for="developmentFindings"
          >Development Findings
          <textarea
            placeholder="Description of bug resolution findings"
            id="developmentFindings"
            cols="30"
            rows="10"
            formControlName="developmentFindings"
          ></textarea>
        </label>
        <div>
          <button type="submit">Update ticket</button>
        </div>
      </fieldset>
    </form>
  </div>
</main>
