<app-sidebar
  [isExpanded]="isExpanded"
  (toggleSidebar)="isExpanded = !isExpanded"
></app-sidebar>
<main class="main" [ngClass]="{ expanded: isExpanded }">
  <form>
    <fieldset>
      <h2>{{ user.firstName }} {{ user.lastName }} profile</h2>
      <legend class="hidden">profile</legend>
      <div>
        <img src="../../../assets/images/user.svg" alt="profile image" />
        <p>
          This is your TrakResolve profile.<br />Below is the information that
          you registered with.
        </p>
        <div class="userInfo">
          <p>{{ user.firstName }} {{ user.lastName }}</p>
          <p>{{ user.email }}</p>
          <p *ngIf="user.phone != 0">{{ user.phone }}</p>
          <p *ngIf="user.role != 'user'">{{ user.role }}</p>
        </div>
        <div class="buttons">
          <button
            class="update"
            [routerLink]="['/updateInfo']"
            [routerLinkActive]="'active'"
          >
            Update Profile
          </button>
          <button
            class="create"
            [routerLink]="['/reportBug']"
            [routerLinkActive]="'active'"
          >
            Create ticket
          </button>
          <button
            class="lookup"
            [routerLink]="['/search']"
            [routerLinkActive]="'active'"
          >
            Ticket lookup
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</main>
