.main {
  margin: auto 20px auto 80px;
  height: 100%;

  transition: 0.3s;

  &.expanded {
    margin-left: 170px;
  }

  fieldset,
  label {
    padding: 10px;
  }

  fieldset {
    height: 95.5vh;
    text-align: center;
    margin: 20px auto;
    border: 5px solid #660084;

    label,
    textarea {
      display: block;
    }

    label {
      text-align: left;
    }

    input,
    textarea {
      width: 100%;
      margin-top: 5px;
      padding: 3px;
    }

    textarea {
      resize: vertical;
    }

    div {
      display: flex;
    }

    div:last-child {
      justify-content: end;
    }

    button {
      margin: 10px;
      padding: 5px 10px;

      &:first-child {
        margin-right: 0;
      }
    }
  }
}
