<app-sidebar
  [isExpanded]="isExpanded"
  (toggleSidebar)="isExpanded = !isExpanded"
></app-sidebar>
<main class="main" [ngClass]="{ expanded: isExpanded }">
  <form>
    <fieldset>
      <h2>{{ user.firstName }} {{ user.lastName }} profile update</h2>
      <legend class="hidden">Update profile</legend>
      <div>
        <p>Enter the fields that need to be changed.</p>
        <label for="firstName"
          >Firstname <input #fn placeholder="firstname" type="text" id="firstName"
        /></label>
        <label for="lastName"
          >Lastname <input #ln placeholder="lastname" type="text" id="lastName"
        /></label>
        <label for="password"
          >Password <input #u placeholder="password" type="password" id="password"
        /></label>
        <button
          class="create"
          [routerLink]="['/profile']"
          [routerLinkActive]="'active'"
        >
          Update profile
        </button>
      </div>
    </fieldset>
  </form>
</main>
