/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

/* Hide scrollbar*/
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.toast-success,
.toast-error {
  position: absolute;
  width: 350px;
  bottom: 20px;
  right: 12.5px;
  border-radius: 10px 0 0 10px;
  color: white;
}

.toast-success {
  background-color: green;
}

.toast-error {
  background-color: #bd0000;
}

.toast-title {
  padding: 10px 10px 0;
}

.toast-message {
  padding: 0 10px 10px;
}
