.main {
  margin: auto 20px auto 80px;
  height: 100%;

  transition: 0.3s;

  &.expanded {
    margin-left: 170px;
  }

  .container {
    height: 95.5vh;
    min-height: 400px;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    border: 5px solid #660084;
  }
}
