.search {
  margin: auto 20px auto 80px;
  height: 100%;

  transition: 0.3s;

  &.expanded {
    margin-left: 170px;
  }

  form,
  .container {
    padding: 10px 0;
  }

  select,
  input {
    margin-right: 10px;
  }

  a {
    color: black;
  }

  .content {
    padding: 10px;
  }

  .content:first-child {
    margin-bottom: 10px;
  }

  .false {
    border: 5px solid #bd0000;
  }

  .true {
    border: 5px solid #660084;
  }
}
