<app-sidebar
  [isExpanded]="isExpanded"
  (toggleSidebar)="isExpanded = !isExpanded"
></app-sidebar>
<main class="search" [ngClass]="{ expanded: isExpanded }">
  <div class="container">
    <h2>Search</h2>
    <form>
      <label for="searchType">Search by: </label>
      <select #t name="searchType" id="searchType" [value]="searchType">
        <option value="_id">_id</option>
        <option value="reportedBy">reported by</option>
        <option value="summary">summary</option>
        <option value="link">link</option>
        <option value="description">description</option>
        <option value="resolved">resolved</option>
        <option value="tag">tag</option>
        <option *ngIf="role != 'user'" value="reproductionFindings">
          reproduction findings
        </option>
        <option *ngIf="role != 'user'" value="developmentFindings">
          development findings
        </option>
        <option *ngIf="role != 'user'" value="assignedTo">assigned to</option>
      </select>
      <label for="searchTerm">Search word: </label>
      <input
        #s
        type="text"
        id="searchTerm"
        placeholder="Search bug reports."
        (keyup.enter)="search(t.value, s.value)"
        [value]="searchTerm"
      />
      <button (click)="search(t.value, s.value)">Search</button>
    </form>
    <app-not-found *ngIf="!bugs[0]"></app-not-found>
    <ul>
      <li *ngFor="let bug of bugs">
        <a routerLink="/search/_id/{{ bug._id }}">
          <div class="content {{ bug.resolved ? 'true' : 'false' }}">
            <div class="reportedBy">
              Reported By:
              {{ bug.reportedBy }}
            </div>
            <div class="summary">
              Summary:
              {{ bug.summary }}
            </div>
            <div class="link">
              Link:
              {{ bug.link }}
            </div>
            <div class="description">
              Description:
              {{ bug.description }}
            </div>
            <div *ngIf="role != 'user'" class="reproductionFindings">
              Reproduction Findings:
              {{ bug.reproductionFindings }}
            </div>
            <div *ngIf="role != 'user'" class="developmentFindings">
              Development Findings:
              {{ bug.developmentFindings }}
            </div>
            <div class="message">
              Message:
              {{ bug.message }}
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</main>
